.sect {
    color: rgb(138, 129, 129);
}


.Clip {
    text-align: center;
}


.download {
    gap: 30px;
    text-align: center;
}.btn-1 {
    color: white;
    background-color: rgb(108, 224, 253);
    cursor: pointer;
    transition: ease-in-out 0.3s;
    padding: 20px;
    border: none;
    border-radius: 30px;
    text-align: center;

}

.btn-2 {
    color: white;
    background-color: rgb(68, 129, 209);
    cursor: pointer;
    transition: ease-in-out 0.3s;
    padding: 20px;
    border: none;
    border-radius: 30px;
    

}
.logo {
    display: flex;
    align-items: center;
    gap: 40px;
}
.footer {
    background-color: rgb(248, 248, 248);
    align-items: center;
    padding: 50px;
}
.soc {
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    display: flex;
    gap: 50px;
}

